    <title>Ben Struthers — My little slice of the interwebs</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <meta name="title" content="Ben Struthers - My little slice of the interwebs">
    <meta name="description" content="BStruthers.com, Ben Struthers' little slice of the interwebs.">
    <meta name="keywords" content="BStruthers.com, Ben Struthers, Strubs">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bstruthers.com/">
    <meta property="og:title" content="Ben Struthers">
    <meta property="og:description" content="Ben Struthers' little slice of the interwebs.">
    <meta property="og:image" content="https://bstruthers.com/assets/me.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://bstruthers.com/">
    <meta property="twitter:title" content="Ben Struthers">
    <meta property="twitter:description" content="Ben Struthers' little slice of the interwebs.">
    <meta property="twitter:image" content="https://bstruthers.com/assets/me.jpg">
    <meta property="twitter:creator" content="@bstruthers">
    <meta property="twitter:site" content="@bstruthers">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Ben Struthers">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#eeeeee">
    <meta name="msapplication-TileColor" content="#eeeeee">
    <meta name="theme-color" content="#eeeeee">
